<center>

  <br><br>

  <b>Name:</b>
  <%= current_user.name %>
  <br><br>
  <b>Avatar:</b><br>
  <%= image_tag current_user.image, style: 'height:100px;width:auto;' %>
  <%= form_for current_user do |f| %>
  <b><%= f.label 'Change avatar' %></b>
  <br>
  <%= f.text_field :image %>
  <br>
  <%= f.submit 'Update avatar'%>
  <br>
  <% end %>
  <br><br>
  <main class ="container">
      <section class = "row">
        <div class = "grid grid-3">
          <div class = "panel panel-primary">
            <div class = "panel-heading">Opponent</div>
            <div class = "panel-body">
              <% Match.all.each do |match| %>
                <% if match.user_1_id == current_user.id %>
                  <% opponent = match.user_2_id %>
                <% else %>
                  <% opponent = match.user_1_id %>
                <% end %>
                <%= User.find(params[:name]).where(id: opponent) %>
                <br><br>
              <% end %>
            </div>
          </div>

        </div>
        <div class = "grid grid-3">
          <div class = "panel panel-primary">
            <div class = "panel-heading">Game</div>
            <div class = "panel-body">
              <% Match.all.each do |match| %>
                <%= match %>
              <% end %>
            </div>
          </div>
        </div>

        <div class = "grid grid-3">
          <div class = "panel panel-primary">
            <div class = "panel-heading">Result</div>
            <div class = "panel-body">
              <% Match.all.each do |match| %>
                <% if match.winner == current_user.id %>
                  <%= "win" %>
                  <br><br>
                <% elsif match.winner == 0 %>
                  <%= "draw" %>
                  <br><br>
                <% elsif match.winner != current_user.id %>
                  <%= "loss" %>
                  <br><br>
                <% end %> 
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </main>


</center>