<!DOCTYPE html>
<html>
<head>
  <title>Archaid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type "text/css" href="styles.css">
  <link rel="stylesheet" type "text/css" href="normalize.css">
</head>
<body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <header>
    <nav>
      <div class="container">
        <div class="go-left">
          <div class="logo">
            ARCHAID
          </div>
        </div>
        <div class="go-right">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>


            <li><% if current_user %>
              <%= link_to "#{current_user.name}'s profile", user_path(current_user.id) %></li>
              <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to 'sign in', new_user_session_path %>,
                <%= link_to 'sign up!', new_user_registration_path %></li>
                <% end %>
              </ul>
            </div>
          </div>

        </nav>
      </header>
      <br><br>
    <%= yield %>

  </body>
  </html>
